body{
	background-color:#25eef5;
}
#zg{
	font-size:18px;
	color:#f5390f;
}
#tb{
	background-color:#58f50f;
	border: 5px solid black;
	padding:30px;
	border-radius:15px;
	width:150px;
	
}
#tv{
	font-size:15px;
	color:grey;
}
#sil{
	font-size:17px;
	color:yellow;
}
#sil:hover{
	font-size:35px;
	color:red;
}
.tvdn{
	background-color:#a8a394;
	border: 1px solid black;
	padding:30px;
	border-radius:10px;
	width:150px;
}
#tvdn1{
	font-size:20px;
	color:red;
}
#pr{
	font-size:17px;
	color:#f59b25;
}





























































